<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pay.unifiedorderrequest" >
  <resultMap id="UnifiedorderrequestMap" type="com.pinkbox.kacha.payment.domain.wechat.UnifiedOrderRequest" >
    <id column="out_trade_no" property="outTradeNo" jdbcType="VARCHAR" />
    <result column="appid" property="appid" jdbcType="VARCHAR" />
    <result column="mch_id" property="mchId" jdbcType="VARCHAR" />
    <result column="notify_url" property="notifyUrl" jdbcType="VARCHAR" />
    <result column="trade_type" property="tradeType" jdbcType="VARCHAR" />
    <result column="nonce_str" property="nonceStr" jdbcType="VARCHAR" />
    <result column="sign" property="sign" jdbcType="VARCHAR" />
    <result column="body" property="body" jdbcType="VARCHAR" />
    <result column="total_fee" property="totalFee" jdbcType="INTEGER" />
    <result column="spbill_create_ip" property="spbillCreateIp" jdbcType="VARCHAR" />
    <result column="time_start" property="timeStart" jdbcType="VARCHAR" />
    <result column="time_expire" property="timeExpire" jdbcType="VARCHAR" />
    <result column="goods_tag" property="goodsTag" jdbcType="VARCHAR" />
    <result column="device_info" property="deviceInfo" jdbcType="VARCHAR" />
    <result column="product_id" property="productId" jdbcType="VARCHAR" />
    <result column="limit_pay" property="limitPay" jdbcType="VARCHAR" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
    <result column="detail" property="detail" jdbcType="VARCHAR" />
    <result column="attach" property="attach" jdbcType="VARCHAR" />
    <result column="fee_type" property="feeType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="unifiedorderrequest_list" >
    out_trade_no, appid, mch_id, notify_url, trade_type, nonce_str, sign, body, total_fee, 
    spbill_create_ip, time_start, time_expire, goods_tag, device_info, product_id, limit_pay, 
    openid, detail, attach, fee_type
  </sql>
  <select id="selectById" resultMap="UnifiedorderrequestMap" parameterType="java.lang.String" >
    select 
    <include refid="unifiedorderrequest_list" />
    from unifiedOrderRequest
    where out_trade_no = #{outTradeNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteById" parameterType="java.lang.String" >
    delete from unifiedOrderRequest
    where out_trade_no = #{outTradeNo,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert"  useGeneratedKeys="true" keyProperty="id"  parameterType="com.pinkbox.kacha.payment.domain.wechat.UnifiedOrderRequest" >
    insert into unifiedOrderRequest
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="outTradeNo != null" >
        out_trade_no,
      </if>
      <if test="appid != null" >
        appid,
      </if>
      <if test="mchId != null" >
        mch_id,
      </if>
      <if test="notifyUrl != null" >
        notify_url,
      </if>
      <if test="tradeType != null" >
        trade_type,
      </if>
      <if test="nonceStr != null" >
        nonce_str,
      </if>
      <if test="sign != null" >
        sign,
      </if>
      <if test="body != null" >
        body,
      </if>
      <if test="totalFee != null" >
        total_fee,
      </if>
      <if test="spbillCreateIp != null" >
        spbill_create_ip,
      </if>
      <if test="timeStart != null" >
        time_start,
      </if>
      <if test="timeExpire != null" >
        time_expire,
      </if>
      <if test="goodsTag != null" >
        goods_tag,
      </if>
      <if test="deviceInfo != null" >
        device_info,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="limitPay != null" >
        limit_pay,
      </if>
      <if test="openid != null" >
        openid,
      </if>
      <if test="detail != null" >
        detail,
      </if>
      <if test="attach != null" >
        attach,
      </if>
      <if test="feeType != null" >
        fee_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="outTradeNo != null" >
        #{outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="appid != null" >
        #{appid,jdbcType=VARCHAR},
      </if>
      <if test="mchId != null" >
        #{mchId,jdbcType=VARCHAR},
      </if>
      <if test="notifyUrl != null" >
        #{notifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="tradeType != null" >
        #{tradeType,jdbcType=VARCHAR},
      </if>
      <if test="nonceStr != null" >
        #{nonceStr,jdbcType=VARCHAR},
      </if>
      <if test="sign != null" >
        #{sign,jdbcType=VARCHAR},
      </if>
      <if test="body != null" >
        #{body,jdbcType=VARCHAR},
      </if>
      <if test="totalFee != null" >
        #{totalFee,jdbcType=INTEGER},
      </if>
      <if test="spbillCreateIp != null" >
        #{spbillCreateIp,jdbcType=VARCHAR},
      </if>
      <if test="timeStart != null" >
        #{timeStart,jdbcType=VARCHAR},
      </if>
      <if test="timeExpire != null" >
        #{timeExpire,jdbcType=VARCHAR},
      </if>
      <if test="goodsTag != null" >
        #{goodsTag,jdbcType=VARCHAR},
      </if>
      <if test="deviceInfo != null" >
        #{deviceInfo,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="limitPay != null" >
        #{limitPay,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="attach != null" >
        #{attach,jdbcType=VARCHAR},
      </if>
      <if test="feeType != null" >
        #{feeType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateById" parameterType="com.pinkbox.kacha.payment.domain.wechat.UnifiedOrderRequest" >
    update unifiedOrderRequest
    <set >
      <if test="appid != null" >
        appid = #{appid,jdbcType=VARCHAR},
      </if>
      <if test="mchId != null" >
        mch_id = #{mchId,jdbcType=VARCHAR},
      </if>
      <if test="notifyUrl != null" >
        notify_url = #{notifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="tradeType != null" >
        trade_type = #{tradeType,jdbcType=VARCHAR},
      </if>
      <if test="nonceStr != null" >
        nonce_str = #{nonceStr,jdbcType=VARCHAR},
      </if>
      <if test="sign != null" >
        sign = #{sign,jdbcType=VARCHAR},
      </if>
      <if test="body != null" >
        body = #{body,jdbcType=VARCHAR},
      </if>
      <if test="totalFee != null" >
        total_fee = #{totalFee,jdbcType=INTEGER},
      </if>
      <if test="spbillCreateIp != null" >
        spbill_create_ip = #{spbillCreateIp,jdbcType=VARCHAR},
      </if>
      <if test="timeStart != null" >
        time_start = #{timeStart,jdbcType=VARCHAR},
      </if>
      <if test="timeExpire != null" >
        time_expire = #{timeExpire,jdbcType=VARCHAR},
      </if>
      <if test="goodsTag != null" >
        goods_tag = #{goodsTag,jdbcType=VARCHAR},
      </if>
      <if test="deviceInfo != null" >
        device_info = #{deviceInfo,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="limitPay != null" >
        limit_pay = #{limitPay,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="attach != null" >
        attach = #{attach,jdbcType=VARCHAR},
      </if>
      <if test="feeType != null" >
        fee_type = #{feeType,jdbcType=VARCHAR},
      </if>
    </set>
    where out_trade_no = #{outTradeNo,jdbcType=VARCHAR}
  </update>
  

	<select id="listByObject" resultMap="UnifiedorderrequestMap" parameterType="java.lang.String" >
    select 
    <include refid="unifiedorderrequest_list" />
    from unifiedOrderRequest
    </select>
</mapper>