<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tes.paper" >
  <resultMap id="PaperMap" type="co.bugu.tes.model.Paper" >
    <id column="paper_id" property="id" jdbcType="INTEGER" />
    <result column="paper_answer_flag" property="answerFlag" jdbcType="INTEGER" />
    <result column="paper_begin_time" property="beginTime" jdbcType="TIMESTAMP" />
    <result column="paper_end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="paper_mark" property="mark" jdbcType="VARCHAR" />
    <result column="paper_scene_id" property="sceneId" jdbcType="INTEGER" />
    <result column="paper_status" property="status" jdbcType="INTEGER" />
    <result column="paper_user_id" property="userId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="paper_list" >
    paper.id as paper_id, paper.answer_flag as paper_answer_flag, paper.begin_time as paper_begin_time, 
    paper.end_time as paper_end_time, paper.mark as paper_mark, paper.scene_id as paper_scene_id, 
    paper.status as paper_status, paper.user_id as paper_user_id
  </sql>
  <select id="selectById" resultMap="PaperMap" parameterType="java.lang.Integer" >
    select 
    <include refid="paper_list" />
    from paper paper
    where paper.id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from paper
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert"  useGeneratedKeys="true" keyProperty="id"  parameterType="co.bugu.tes.model.Paper" >
    insert into paper
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="answerFlag != null" >
        answer_flag,
      </if>
      <if test="beginTime != null" >
        begin_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="mark != null" >
        mark,
      </if>
      <if test="sceneId != null" >
        scene_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="answerFlag != null" >
        #{answerFlag,jdbcType=INTEGER},
      </if>
      <if test="beginTime != null" >
        #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mark != null" >
        #{mark,jdbcType=VARCHAR},
      </if>
      <if test="sceneId != null" >
        #{sceneId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateById" parameterType="co.bugu.tes.model.Paper" >
    update paper
    <set >
      <if test="answerFlag != null" >
        answer_flag = #{answerFlag,jdbcType=INTEGER},
      </if>
      <if test="beginTime != null" >
        begin_time = #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mark != null" >
        mark = #{mark,jdbcType=VARCHAR},
      </if>
      <if test="sceneId != null" >
        scene_id = #{sceneId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  

<select id="listByObject" resultMap="PaperMap" parameterType="co.bugu.tes.model.Paper" >
    select 
    <include refid="paper_list" />
    from paper paper
    </select>
</mapper>