<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tes.question">
    <resultMap id="QuestionMap" type="co.bugu.tes.model.Question">
        <id column="question_id" property="id" jdbcType="INTEGER"/>
        <result column="question_answer" property="answer" jdbcType="VARCHAR"/>
        <result column="question_content" property="content" jdbcType="VARCHAR"/>
        <result column="question_extra_info" property="extraInfo" jdbcType="VARCHAR"/>
        <result column="question_meta_info_id" property="metaInfoId" jdbcType="INTEGER"/>
        <result column="question_question_bank_id" property="questionBankId" jdbcType="INTEGER"/>
        <result column="question_title" property="title" jdbcType="VARCHAR"/>
        <result column="question_prop_item_id_info" property="propItemIdInfo" jdbcType="VARCHAR"/>
        <association property="questionMetaInfo" javaType="co.bugu.tes.model.QuestionMetaInfo"
                     resultMap="QuestionMetaInfoMap"/>
        <collection property="propertyItemList" ofType="co.bugu.tes.model.PropertyItem"
                    resultMap="PropertyItemMap"/>
    </resultMap>
    <resultMap id="PropertyItemMap" type="co.bugu.tes.model.PropertyItem">
        <id column="prop_item_id" property="id" jdbcType="INTEGER"/>
        <result column="prop_item_code" property="code" jdbcType="VARCHAR"/>
        <result column="prop_item_idx" property="idx" jdbcType="INTEGER"/>
        <result column="prop_item_name" property="name" jdbcType="VARCHAR"/>
        <result column="prop_item_property_id" property="propertyId" jdbcType="INTEGER"/>
        <result column="prop_item_value" property="value" jdbcType="VARCHAR"/>
        <result column="prop_item_items_idx" property="itemsIdx" jdbcType="INTEGER"/>
    </resultMap>
    <resultMap id="QuestionMetaInfoMap" type="co.bugu.tes.model.QuestionMetaInfo">
        <id column="ques_meta_id" property="id" jdbcType="INTEGER"/>
        <result column="ques_meta_code" property="code" jdbcType="VARCHAR"/>
        <result column="ques_meta_description" property="description" jdbcType="VARCHAR"/>
        <result column="ques_meta_name" property="name" jdbcType="VARCHAR"/>
        <result column="ques_meta_status" property="status" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="propertyItem_list">
        prop_item.id as prop_item_id, prop_item.code as prop_item_code, prop_item.idx as prop_item_idx,
        prop_item.name as prop_item_name, prop_item.property_id as prop_item_property_id,
        prop_item.value as prop_item_value, prop_item.items_idx as prop_item_items_idx
    </sql>
    <sql id="question_list">
    question.id as question_id, question.answer as question_answer, question.content as question_content, 
    question.extra_info as question_extra_info, question.meta_info_id as question_meta_info_id, 
    question.question_bank_id as question_question_bank_id, question.title as question_title,
    question.prop_item_id_info as question_prop_item_id_info
  </sql>
    <sql id="questionMetaInfo_list">
        ques_meta.id as ques_meta_id, ques_meta.code as ques_meta_code, ques_meta.description as ques_meta_description,
        ques_meta.name as ques_meta_name, ques_meta.status as ques_meta_status
    </sql>
    <select id="selectById" resultMap="QuestionMap" parameterType="java.lang.Integer">
        select
        <include refid="question_list"/>,
        <include refid="propertyItem_list"/>,
        <include refid="questionMetaInfo_list"/>
        from question question
        LEFT JOIN question_propItem_x qp on qp.question_id = question.id
        LEFT JOIN property_item prop_item on prop_item.id = qp.property_item_id
        LEFT JOIN question_meta_info ques_meta on question.meta_info_id = ques_meta.id
        where question.id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteById" parameterType="java.lang.Integer">
    delete from question
    where id = #{id,jdbcType=INTEGER}
  </delete>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="co.bugu.tes.model.Question">
        insert into question
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="answer != null">
                answer,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="extraInfo != null">
                extra_info,
            </if>
            <if test="metaInfoId != null">
                meta_info_id,
            </if>
            <if test="questionBankId != null">
                question_bank_id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="propItemIdInfo != null">
                prop_item_id_info,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="answer != null">
                #{answer,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="extraInfo != null">
                #{extraInfo,jdbcType=VARCHAR},
            </if>
            <if test="metaInfoId != null">
                #{metaInfoId,jdbcType=INTEGER},
            </if>
            <if test="questionBankId != null">
                #{questionBankId,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="propItemIdInfo != null">
                #{propItemIdInfo},
            </if>
        </trim>
    </insert>
    <update id="updateById" parameterType="co.bugu.tes.model.Question">
        update question
        <set>
            <if test="answer != null">
                answer = #{answer,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="extraInfo != null">
                extra_info = #{extraInfo,jdbcType=VARCHAR},
            </if>
            <if test="metaInfoId != null">
                meta_info_id = #{metaInfoId,jdbcType=INTEGER},
            </if>
            <if test="questionBankId != null">
                question_bank_id = #{questionBankId,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="propItemIdInfo != null">
                prop_item_id_info = #{propItemIdInfo},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>


    <select id="findByObject" resultMap="QuestionMap" parameterType="co.bugu.tes.model.Question">
        select
        <include refid="question_list"/>,
        <include refid="propertyItem_list"/>,
        <include refid="questionMetaInfo_list"/>
        from question question
        LEFT JOIN question_propItem_x qp on qp.question_id = question.id
        LEFT JOIN property_item prop_item on prop_item.id = qp.property_item_id
        LEFT JOIN question_meta_info ques_meta on question.meta_info_id = ques_meta.id
        order by question.id
    </select>

    <select id="findPropItemByQuestionId" resultMap="PropertyItemMap" parameterType="co.bugu.tes.model.Question">
        SELECT
        <include refid="propertyItem_list"/>
        from property_item prop_item
        LEFT JOIN question_propItem_x qp on qp.property_item_id = prop_item.id
        WHERE qp.question_id = #{id}
    </select>


    <select id="selectCountOfPropInfo" resultType="map" parameterType="int">
        SELECT COUNT(0) AS cnt, tmp.propInfo FROM(
          SELECT ques.id, GROUP_CONCAT(qp.`property_item_id` ORDER BY qp.`property_item_id` ASC) AS propInfo
          FROM question ques
          LEFT JOIN question_propItem_x qp ON ques.id = qp.`question_id`
          WHERE ques.meta_info_id = #{metaInfoId}
          GROUP BY ques.id
        ) AS tmp
        GROUP BY tmp.propInfo;
    </select>

    <insert id="addToPropItem" parameterType="map">
        insert into question_propItem_x (question_id, property_item_id)
        values (#{questionId}, #{propItemId});
    </insert>

    <delete id="removeFromPropItem" parameterType="int">
        delete from question_propItem_x where question_id = #{questionId};
    </delete>
</mapper>