package ${mainPkg}.service.impl;


import ${rootPkg}.framework.service.impl.BaseServiceImpl;
import ${mainPkg}.service.I${className}Service;
import org.springframework.stereotype.Service;

@Service
public class UserServiceImpl extends BaseServiceImpl<${className}> implements IUserService {

}

