<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config></context:annotation-config>
    <context:component-scan base-package="co.bugu.data.service"/>

    <bean class="co.bugu.framework.core.util.ApplicationContextUtil"/>

    <!--<bean class="co.bugu.data.mq.MQProducerinit" destroy-method="destory">-->
        <!--<property name="nameServerAddr" value="10.143.108.83:9876;10.143.108.84:9876;10.143.108.85:9876"/>-->
        <!--<property name="topic" value="mylc"/>-->
        <!--<property name="tag" value="bill"/>-->
        <!--<property name="producerName" value="pressureTest"/>-->
        <!--<property name="instanceName" value=""/>-->
    <!--</bean>-->

    <!--<bean class="co.bugu.data.mq.MQProducerinit" destroy-method="destory">-->
        <!--<property name="nameServerAddr" value="10.143.108.69:9876;10.143.108.70:9876;10.143.108.71:9876"/>-->
        <!--<property name="topic" value="mylc"/>-->
        <!--<property name="tag" value="pushParty"/>-->
        <!--<property name="producerName" value="pressureTest"/>-->
        <!--<property name="instanceName" value=""/>-->
    <!--</bean>-->


    <bean class="co.bugu.data.mq.MQProducer" init-method="init" destroy-method="destory">
        <property name="nameServerAddr" value="10.143.88.76:9876"/>
        <property name="topic" value="tes"/>
        <property name="tag" value="paper"/>
        <property name="producerName" value="pressureTest"/>
        <property name="instanceName" value=""/>
    </bean>

    <bean class="co.bugu.data.mq.MQConsumer" init-method="init" destroy-method="destory">
        <property name="consumerGroup" value="TesConsumer"/>
        <property name="instanceName" value=""/>
        <property name="nameServerAddr" value="10.143.88.76:9876"/>
        <property name="topic" value="tes"/>
        <property name="tags" value="paper"/>
    </bean>
</beans>