<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config></context:annotation-config>
    <context:component-scan base-package="co.bugu.data.service"/>

    <bean class="co.bugu.framework.core.util.ApplicationContextUtil"/>

    <bean class="co.bugu.data.service.impl.MQProducerConsumerService" init-method="init" destroy-method="destory">
        <property name="nameServerAddr" value="10.143.108.69:9876;10.143.108.70:9876;10.143.108.71:9876"/>
        <property name="topic" value="mylcZgTest"/>
        <property name="tag" value="pressure"/>
        <property name="producerName" value="pressureTest"/>
        <property name="instanceName" value=""/>
    </bean>

</beans>