<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sso.permission">
    <resultMap id="PermissionMap" type="co.bugu.sso.model.SsoPermission">
        <id column="permission_id" property="id" jdbcType="INTEGER"/>
        <result column="permission_action" property="action" jdbcType="VARCHAR"/>
        <result column="permission_controller" property="controller" jdbcType="VARCHAR"/>
        <result column="permission_idx" property="idx" jdbcType="INTEGER"/>
        <result column="permission_name" property="name" jdbcType="VARCHAR"/>
        <result column="permission_param" property="param" jdbcType="VARCHAR"/>
        <result column="permission_status" property="status" jdbcType="INTEGER"/>
        <result column="permission_type" property="type" jdbcType="INTEGER"/>
        <result column="permission_url" property="url" jdbcType="VARCHAR"/>
        <result column="permission_code" property="code" jdbcType="VARCHAR"/>
        <result column="permission_system" property="system" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="permission_list">
    permission.id as permission_id, permission.action as permission_action, permission.controller as permission_controller, 
    permission.idx as permission_idx, permission.name as permission_name, permission.param as permission_param, 
    permission.status as permission_status, permission.type as permission_type, permission.url as permission_url,
    permission.code as permission_code, permission.system as permission_system
  </sql>
    <select id="selectById" resultMap="PermissionMap" parameterType="java.lang.Integer">
        select
        <include refid="permission_list"/>
        from sso_permission permission
        where permission.id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteById" parameterType="java.lang.Integer">
    delete from sso_permission
    where id = #{id,jdbcType=INTEGER}
  </delete>

    <insert id="insert" parameterType="co.bugu.sso.model.SsoPermission">
        insert into sso_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="action != null">
                action,
            </if>
            <if test="controller != null">
                controller,
            </if>
            <if test="idx != null">
                idx,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="param != null">
                param,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="code != null">
                code,
            </if>
            <if test="system != null">
                system,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="action != null">
                #{action,jdbcType=VARCHAR},
            </if>
            <if test="controller != null">
                #{controller,jdbcType=VARCHAR},
            </if>
            <if test="idx != null">
                #{idx,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="param != null">
                #{param,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                #{code},
            </if>
            <if test="system != null">
                #{system},
            </if>
        </trim>
    </insert>
    <update id="updateById" parameterType="co.bugu.sso.model.SsoPermission">
        update sso_permission
        <set>
            <if test="action != null">
                action = #{action,jdbcType=VARCHAR},
            </if>
            <if test="controller != null">
                controller = #{controller,jdbcType=VARCHAR},
            </if>
            <if test="idx != null">
                idx = #{idx,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="param != null">
                param = #{param,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                code = #{code},
            </if>
            <if test="system != null">
                system = #{system},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>


    <select id="listByObject" resultMap="PermissionMap" parameterType="co.bugu.sso.model.SsoPermission">
        select
        <include refid="permission_list"/>
        from sso_permission permission
    </select>
</mapper>